<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- Version: 0.0.14 -->
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.user.mac-app-lifecycle.close</string>
	
	<key>ProgramArguments</key>
	<array>
		<string>{{REPO_ROOT}}/scripts/close-apps/close-apps.sh</string>
	</array>
	
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>{{SCHEDULE_HOUR}}</integer>
		<key>Minute</key>
		<integer>{{SCHEDULE_MINUTE}}</integer>
		{{WEEKDAYS_ENTRY}}
	</dict>
	
	<key>RunAtLoad</key>
	<false/>
	
	<key>StandardOutPath</key>
	<string>{{LOG_PATH}}</string>
	
	<key>StandardErrorPath</key>
	<string>{{ERR_LOG_PATH}}</string>
	
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
</dict>
</plist>
